doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            h1 Add New Car Record

            form(method="POST" action="/update-cobj")
                label(for="name") Car Name
                input(type="text" name="name" id="name" required)

                label(for="car_brand") Car Brand
                input(type="text" name="car_brand" id="car_brand" required)

                label(for="car_color") Car Color
                input(type="text" name="car_color" id="car_color" required)

                input(type="submit" value="Save Car")

nav
    a.nav-link(href="/") Return to the homepage